extends layout

block content
  div(class='hero')
    h1 2023 Bingo
    p 2023 was a shit year where the universe threw everything it had at us, so what could happen in 2021?
    p Well, Covid... So let's try this again...
    p Make your predictions for a chance to win nothing, expect maybe the ability to claim you can predict the future.
    a(class='login-button' href=loginUrl) Login with Discord

